<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
    <body class=<%=className %>>
        <%- include("../partials/header") %>
        <div class="main-content">
            <% if (locals.className==="detailed-animal") { %>
                <%- include("../partials/animal-details") %>
            <% } else { %> 
                <%- include("../partials/no-match") %>
            <% } %>
        </div>
        <%- include("../partials/footer") %>

    </body>
</html>