<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
    <body class=<%=className %>>
        <%- include("../partials/header") %>
        <div class="main-content">
            <%- include("..partials/body") %>
            <%- include("../partials/sidebar") %>
            <% if (locals.className==="birds" ) { %>
                <%- include("../partials/animals-short") %>
                    <% } else { %>
                <%- include("../partials/no-match") %>
            <% } %>
        </div>
        <%- include("../partials/footer") %>
    </body>
</html>