<!DOCTYPE html>
<html lang='en'>
    <link rel="stylesheet" href="styles/home-styles.css">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <%- include("../partials/sidebar") %>
    <%- include("../partials/footer") %>
    <%- include ("../partials/body") %>
    
</body>
</html>