<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
    <body class=<%=className %>>
        <%- include("../partials/header") %>
        <div class="main-content">
            <% if (locals.className==="mammals" ) { %>
                <%- include("../partials/animals-short") %>
                    <% } else { %>
                <%- include("../partials/no-match") %>
            <% } %>
        </div>
    </body>
</html>